//
// This source file is part of the Stanford Biodesign Digital Health RadGPT open-source project
//
// SPDX-FileCopyrightText: 2024 Stanford University and the project authors (see CONTRIBUTORS.md)
//
// SPDX-License-Identifier: MIT
//

rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAuthenticatedUserID(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId}/reports/{reportHash} {
      allow read: if isAuthenticatedUserID(userId);
      allow create: if isAuthenticatedUserID(userId)
                    && request.resource.contentType.matches("text/plain")
                    && resource == null;
      allow delete: if isAuthenticatedUserID(userId);
    } 
  }
}
