
#
# This source file is part of the Stanford Biodesign Digital Health RadGPT open-source project
#
# SPDX-FileCopyrightText: 2024 Stanford University and the project authors (see CONTRIBUTORS.md)
#
# SPDX-License-Identifier: MIT
#
backoff==2.2.1
firebase_functions==0.4.2
openai==1.57.4
pytest==8.3.4
pytest-cov==6.0.0
pytest-mock==3.14.0
pytest-timeout==2.3.1
