/*

This source file is part of the Stanford Biodesign Digital Health RadGPT open-source project

SPDX-FileCopyrightText: 2024 Stanford University and the project authors (see CONTRIBUTORS.md)

SPDX-License-Identifier: MIT

*/

@import '@stanfordspezi/spezi-web-design-system/tailwind.css';
@import '@stanfordspezi/spezi-web-design-system/base.css';

@source '../node_modules/@stanfordspezi/spezi-web-design-system/dist/**/*.js';

@layer utilities {
  .keyword-highlight {
    margin: 0 -0.1rem;
    padding: 0 0.1rem;
    border-radius: 0.25rem;
  }

  .keyword-highlight-left {
    margin-left: -0.1rem;
    padding-left: 0.1rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .keyword-highlight-center {
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

  .keyword-highlight-right {
    margin-right: -0.1rem;
    padding-right: 0.1rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  .shimmer {
    @apply bg-no-repeat bg-clip-text bg-gray-900 text-gray-900/10;
    @apply bg-[size:6rem_100%] bg-linear-to-r from-gray-900 via-gray-100 to-gray-900;
    @apply animate-[shimmer_3s_linear_infinite];
  }

  @keyframes shimmer {
    from {
      background-position: -100px 50%;
    }
    to {
      background-position: calc(100% + 100px) 50%;
    }
  }
}
